
@{
    ViewBag.Title = "Новый тип самолета";
}

<h2>Добавление нового типа самолета</h2>

<div>
    <form method="post">
        <table>
            <tr>
                <td>Название типа</td>
                <td>
                    <input type="text" name="NameType" />
                </td>
            </tr>
            <tr>
                <td>Назначение</td>
                <td>
                    <input type="text" name="Appointment" />
                </td>
            </tr>
            <tr>
                <td>Лимиты</td>
                <td>
                    <input type="text" name="Limitation" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Добавить" />
                </td>
            </tr>
        </table>
    </form>
</div>

