@model IEnumerable<WebAirport.Models.TypeAirplane>

<select name="TypeAirplaneId" onchange="getAirplanes(this.value, document.getElementById('AirplanesId').value)">
    <option value="0">Выбор типа</option>
        @foreach (var type in Model)
        {
            if (ViewBag.IdSelected == type.Id)
            {
                <option value="@type.Id" selected="selected">@type.NameType</option>
            }
            else
            {
                <option value="@type.Id">@type.NameType</option>
            }
        }
</select>

