
@{
    ViewBag.Title = "Самолеты";
}

<h2>Управление самолетами</h2>
<div>
    @Html.ActionLink("Добавить самолет", "/Create", "Airplane")
    @Html.ActionLink("Список самолетов", "/Create", "Airplane")
</div>

