
@{
    ViewBag.Title = "Рейсы";
}

<h2>Управление рейсами</h2>

<div>
    @Html.ActionLink("Добавить рейс", "/Create", "Flight")
    @Html.ActionLink("Список рейсов", "/ListFlight", "Flight")
</div>
