
@{
    ViewBag.Title = "Билеты";
}

<h2>Управление билетами</h2>
<div>
    @Html.ActionLink("Добавить билет", "/Create", "Ticket")
    @Html.ActionLink("Список билетов", "/ListTicket", "Ticket")
</div>
