
@{
    ViewBag.Title = "Типы самолетов";
}

<h2>Управление типами самолетов</h2>

<div>
    <a href="/TypeAirplane/Create">Добавить тип самолета</a>
    <a href="/TypeAirplane/ListTypeAirplane">Список типов самолетов</a>
</div>
