
@{
    ViewBag.Title = "Типы самолетов";
}

<h2>Типы самолетов</h2>

<div>
    <a href="/TypeAirplane/Create">Добавить новый</a>
    <a href="/TypeAirplane/ListTypeAirplane">Список типов самолетов</a>
</div>
