
@{
    ViewBag.Title = "Добавление сотрудника";
}

<div>
    @Html.ActionLink("Список сотрудников", "Index")
</div>

<h2>Добавление сотрудника</h2>

<form method="post">
    <table>
        <tr>
            <td>Фамилия Имя</td>
            <td><input type="text" name="FirstNameStaff"/></td>
        </tr>
        <tr>
            <td>Отчество</td>
            <td><input type="text" name="LastNameStaff"/></td>
        </tr>
        <tr>
            <td>Пол</td>
            <td>
                <select name="Gender">
                    <option>Мужской</option>
                    <option>Женский</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Адрес</td>
            <td><input type="text" name="Address"/></td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td><input type="text" name="Telephone"/></td>
        </tr>
        <tr>
            <td>Паспорт</td>
            <td><input type="text" name="Passport"/></td>
        </tr>
        <tr>
            <td>Должность</td>
            <td>
                <select name="PositionId">
                    @foreach(var p in ViewBag.Positions)
                    {
                        <option value="@p.Id">@p.JobTitle</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Добавить сотрудника" />
            </td>
        </tr>
    </table>
</form>

